<div class="relative h-full w-full">
  <div id="main-map"
    data-controller="map"
    data-map-ui-outlet="#ui"
    data-map-posts-outlet="#posts"
    class="absolute inset-0 h-full w-full"
    data-maptiler-key="<%= ENV.fetch("MAPTILER_API_KEY") %>">

    <%# 地図を覆うオーバーレイ要素 %>
    <div class="fixed inset-0 z-20 transition-opacity duration-1000 opacity-100 animate-fog-twinkle" data-map-target="mapOverlay">

      <%# ロゴ %>
      <div class="absolute inset-0 flex items-center justify-center pointer-events-none z-[4] -translate-y-8">
        <%= image_tag "logo-vertical.svg", class: "w-36 sm:w-48 opacity-[0.3] select-none animate-pulse" %>
      </div>

      <%# 風のように通り過ぎる影の層 %>
      <div class="absolute inset-0 pointer-events-none animate-wind-sweep">
      </div>

    </div>

    <%# 目的地表示部分 %>
    <div class="absolute top-0 left-0 z-10 p-3 pointer-events-none mr-11">
      <div class="w-[min(24rem,calc(100vw-1.5rem-2.5rem))] pointer-events-auto">
        <%= render "trips/destination_ui" %>
      </div>
    </div>

  </div>
</div>
<% if cookies[:terms_accepted] != "true" && cookies[:tutorials_end] != "true" && !user_signed_in? %>
  <%= render "tutorials/tutorials_modal" %>
<% elsif cookies[:tutorials_end] == "true" && cookies[:terms_accepted] != "true" && !user_signed_in?  %>
  <%= render "tutorials/terms_required_modal", formats: :turbo_stream %>
<% end %>
