<%= turbo_stream.replace "user-profile" do %>
  <div id="user-profile" class="bg-white rounded-xl shadow-md p-4 mb-4 flex items-center">
    <% if @user.avatar.attached? %>
      <div class="w-16 h-16 rounded-full flex items-center justify-center shadow-md">
        <%= image_tag @user.avatar, class: "w-full h-full object-cover rounded-full" %>
      </div>
    <% else %>
      <div class="w-16 h-16 bg-orange-400 rounded-full flex items-center justify-center shadow-md">
        <%= lucide_icon('user-round', class: "m-1 w-full h-full text-white") %>
      </div>
    <% end %>
    <div class="ml-4 flex-1 flex justify-between items-center">
      <div class="text-xl font-bold text-gray-800">
        <%= @user.nickname %>
      </div>
      <% if current_user&.general? %>
        <%= link_to edit_profile_path, class: "p-2 rounded-full hover:bg-gray-200", data: { turbo_stream: true } do %>
          <%= lucide_icon('square-pen', class: "text-gray-700")%>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
