<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "しろいちず" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# googleフォント %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "my_style", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body id="ui" class="" data-controller="ui" data-ui-map-outlet="#main-map" data-ui-history-map-outlet="#history-map">
    <div class="fixed inset-0 z-50 hidden" data-ui-target="uiOverlay" data-action="click->ui#clearUiOverlay"></div>
    <%= yield :header %>
    <main class="font-sans">
      <%= yield %>
    </main>
    <% if show_footer? %>
      <%= render "shared/footer" %>
    <% end %>
    <%= render "bottom_sheets/bottom_sheets_shell" %>
    <%= render "shared/modal_shell" %>
    <%= render "shared/flash_message" %>
    <div id="error-root" class="fixed inset-0 z-50 pointer-events-none">
      <div id="error-container" class="pointer-events-auto fixed top-6 left-1/2 -translate-x-1/2">
        <%= render "shared/error_messages" %>
      </div>
    </div>
  </body>
</html>
